<div class="order-list">
  <table class="table text-center  table-striped">
    <thead>
      <th scope="col">Order ID</th>
      <th scope="col">User ID</th>
      <th scope="col">Address</th>
      <th scope="col">Date Order</th>
      <th scope="col">Total Price</th>
      <th scope="col">Order Status</th>
      <th scope="col">Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td scope="row">{{order.id}}</td>
        <td>{{order.userId}}</td>
        <td>{{order.address}}</td>
        <td>{{order.dateOrder}}</td>
        <td>{{order.totalPrice}}</td>
        <td>{{order.status ? 'Shipping': 'Deliveried'}}</td>
        <td>
          <div class="btn-group text-center">
            <a class="btn btn-primary" role="button" routerLink="/detail/{{order.id}}"><i class="far fa-edit"></i></a>
            <a class="btn btn-primary"><i class="far fa-trash-alt"></i></a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>